django==1.4.3
django-extensions==1.0.3
django-debug-toolbar==0.9.4
South==0.7.6
MySQL-python==1.2.4
ipython==0.10
fabric==1.5.3
gunicorn==0.17.2
django-cms==2.4.2
PIL==1.1.7
setuptools
git+https://github.com/ygneo/cmsplugin-embedded-pages.git
django-filer
recaptcha-client==1.0.6
cmsplugin-contact==1.0.0
imagestore==2.7.3
git+https://github.com/ygneo/django-cms-storelocator.git
git+https://github.com/toastdriven/django-haystack.git@master#egg=django-haystack
whoosh==2.4.0
django-tinymce==1.5.1
django-registration==1.0
