django==1.4.3
django-extensions
django-debug-toolbar
South
MySQL-python
ipython==0.10
fabric
gunicorn
django-cms
PIL
setuptools
git+https://github.com/ygneo/cmsplugin-embedded-pages.git
django-filer
recaptcha-client
cmsplugin-contact
imagestore
git+https://github.com/ygneo/django-cms-storelocator.git
git+https://github.com/toastdriven/django-haystack.git@master#egg=django-haystack
whoosh
