{% extends "page.html" %}
{% load cms_tags menu_tags sekizai_tags i18n %}


{% block page_content %}
  {% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/registration_form.css">
  {% endaddtoblock %}
  <h2>{% trans "Register your user account" %}</h2>
  <div id="page_content">
    <form method="post" action="" id="register-form">
      {% csrf_token %}
      {% for field in form %}
      <div id="field">
        {{ field.label_tag }} {{ field }}
        {{ field.errors }}
        {{ field.help_text }}
      </div>
      {% endfor %}
      <input type="submit" value="{% trans 'Register' %}" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
{% endblock %}
