body {
  font-family: Verdana;
  font-size: normal;
}

h2 {
  color: #39b54a;
  font-size: 120%;
}

#wrapper {
  width: 80%;
  margin: 0 auto 0 auto;
}

#dynamic_menu ul {
  list-style: none;
  font-size: small;
}

  #dynamic_menu ul li {
    text-align: right;
    padding-top: 1ex;
    padding-bottom: 1ex;
    padding-left: 1ex;
    padding-right: 6ex;
    margin-right: 2ex;
    border-bottom: thin solid #3bb34a;
  }

    #dynamic_menu ul li.selected {
      background: url('../img/medusa-indicador.png') no-     repeat;
      background-position: right;
    }

  #dynamic_menu ul li a {
    color: #4dc5d9;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
  }

    #dynamic_menu ul li a:visited {
      color: #4dc5d9;
    }
