body {
  font-family: Verdana;
  font-size: normal;
  color: #8b8b8b;
}

h2 {
  color: #39b54a;
  font-size: 120%;
}

img {
border:1px solid transparent;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

#wrapper {
  width: 1000px;
  margin: 5px auto 0 auto;
}

#dynamic_menu ul {
  list-style: none;
  font-size: small;
  padding-bottom: 2ex;
}

  #dynamic_menu ul li {
    text-align: right;
    padding-top: 1ex;
    padding-bottom: 1ex;
    padding-left: 1ex;
    padding-right: 4ex;
    margin-right: 2ex;
    border-bottom: 1px solid #39b54a;
  }

    #dynamic_menu ul li:hover, #dynamic_menu ul li.selected {
      background: url('../img/medusa-indicador.png') no-repeat;
      background-position: right;
    }

  #dynamic_menu ul li a {
    color: #4dc5d9;
    text-decoration: none;
    font-size: 110%;
  }

    #dynamic_menu ul li a:visited {
      color: #4dc5d9;
    }
    #dynamic_menu ul#nav {
      margin: 0;
      padding-left: 5px;
    }

    #disclaimer{
      font-size: 70%;
      margin-top: 5px;
}

#language_chooser {
   color: #39b54a;
   font-size: 80%;
   background-color: white;
   color: green;
   padding: .5ex;
   padding-right: 1ex;
   padding-left: 1ex;
   -moz-border-radius-bottomright: 4px;
   border-bottom-right-radius: 4px;
   opacity:0.9;
   filter:alpha(opacity=90); /* For IE8 and earlier */
}

#footer {
    margin-top: 1ex;
    margin-bottom: 2ex;
    bottom: 0px; width: 100%;
    text-align: center;
    clear: both;
    border-top: solid thin #39b54a;
}

#language {
    float: left;
  width: 1000px;
  margin: auto auto 0 auto;
}

#language_chooser a {
   color: #39b54a;
}

#disclaimer {
  text-align: justify;
  clear: both;
}

#footer {
  text-align: justify;
}

  #right_logos {
    float: right;
  }

  #left_logos {
    float:left;
  }

#logout {
  margin-left: 42px;
  font-weight: bold;
}

  #logout a {
    color: #4dc5d9;
    text-decoration: none;
  }

  #logout a:visited {
    color: #4dc5d9;
    text-decoration: none;
  }

p.plugin_file a img {
  display: none;
}

#register {
    margin-top: 2ex;
    padding: 1.5ex;
    background-color: #39b54a;
    color: white;
    border-radius: 4px;
    font-size: small;
}

span#register_link {
    font-size: 120%;
}

#register a {
    color: white;
}

#register a:visited {
    color: white;
}