body { 
    color: #8b8b8b;
}

#left { float: left; width: 718px; }

#right { 
     float: right; 
     width: 248px; 
     padding: 12px;
     padding-top: .5ex;
}

#top {
  height: 304px;
  width: 100%;
}

    #project_description {
      color: #565555;
      text-align: left;
      margin-bottom: 4ex; 
      font-size: 120%;
      width: 95%;
    }

    #project_description p { 
      margin-top: 1ex; 
    }

    #project_description span.plugin_link a { 
     display: inline;
    }
  
    #dynamic_menu ul#nav {
      margin: 0;
      padding-left: 5px;
    }

.plugin_link a { 
     display: block;
     color: #39b54a;
  }

#content {
  width: 100%;
  height: 100%;
  clear: both;
}

  #news_tools {
    overflow: hidden;
    paddng-right: 275px;
 }

  #news {
    float: left;
  }
   
   #news .new { 
       margin-bottom: 4ex; 
       float: left; 
   }

   #news .plugin_picture { 
      float: left;     
      margin-right: 2em;
  }
     #news .plugin_picture img {
       height: 120px;
       width: 140px;
     }

   #news .new_text {
      width: 75%;
      float: left;                      
   }

   #news .new_text h1 { 
     color: #39b54a;
     font-size: 120%;
     margin-top: 0px;
   }

   #news .embedded-page.row {
     margin-bottom: 4ex;
     float: left;
     clear: both;
   }

  #tools {
    margin: 2ex auto 0 auto;
    width: 248px; 
  }

    #special_news { 
      margin: 0 auto 1ex auto;
      background-color: #39b54a;
      color: white;
      border-radius: 4px;
      height: 170px;
      padding: 6px;
    }

    #special_news p { 
      margin: 0 auto 0 auto;
    }

    #special_news_text {
      float: left;
      width: 110px;
      font-size: 80%;
    }

    #special_news_text .plugin_link a {
      margin-top: 1ex;
      color: white;
      font-weight: bold;
    }

    #special_news_image {
      float: right;
    }

  #picture_gallery { 
      clear: both;
      text-align: center;
      background-color: #39B54A;
      padding: 6px;
      border-radius: 4px;
  }

  #picture_gallery a {
      color: white;
  } 

  #contact { 
      background-color: #39B54A;
      padding: 6px;
      border-radius: 4px;
      margin-top: 1ex;
  } 

  #contact a {
    color: white;
    padding: 6px;
    padding-left: 48px;
    background: url('../img/mail.png') no-repeat; )
  } 

  #sights_link {
    clear: both;
    width: 676px;
    margin: 2ex auto;
  }

#footer {
    margin-top: 1ex;
    margin-bottom: 2ex;
}
#facebook { 
      background-color: #39B54A;
      padding: 9px;
      border-radius: 4px;
      margin-top: 1ex;
  } 

  #facebook a {
    color: white;
    padding: 6px;
    padding-left: 38px;
    background: url('../img/facebook2.png') no-repeat; )
  } 
  #more_news {
      text-align:right;
      color: #39B54A;
      margin-bottom: 4ex; 
      font-size: 120%;
      width: 95%;
    }