#page_wrapper {
     margin: 5px auto 0 auto;
}
	
#page_content {
	background-color: transparent;
	text-align: justify;
}
		
#home {
    border: none;
    margin: 8px 0px;
}

#left { 
	 float: left;
   width: 248px; 
   padding: 12px;
   padding-top: .5ex;
}

#nav {
  background: url('../img/Jellyrisk.png') no-repeat;
  background-position: top right;
  background-origin: content-box;
  background-padding: 1ex;
}

#right { 
     float: right; 
     width: 718px;
     margin-bottom: 5ex;
     min-height: 590px;
}

#page_header {
	width: 100%; 
}

#dynamic_menu ul li:hover {
  background-position: left;
}

#dynamic_menu ul li {
  text-align: left;
  padding-left: 4ex;
  margin-left: 2ex;
  padding-right: 0;
  margin-right: 0;
}

  #dynamic_menu ul li.selected {
    padding-left: 0;
    background: none;
  }

  #dynamic_menu ul li ul {
    padding-left: 2ex;
    margin-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

    #dynamic_menu ul li.selected ul li.descendant {
      border-bottom: none;
      padding-left: 0;
      margin-left: 0;
    }

    #dynamic_menu ul li.ancestor {
      background: none;
      padding-left: 0;
    }

      #dynamic_menu ul li.ancestor a {
        padding-left: 4ex;
      }

    #dynamic_menu ul li.ancestor ul {
      padding-left: 2ex;
    }

        #dynamic_menu li.ancestor ul li {
          border-bottom: none;
          padding-left: 0;
          margin-left: 0;
        }
  
          #dynamic_menu li.ancestor ul li.sibling {
            padding-left: 0;
            display: block;
          }

    #dynamic_menu ul li.selected a {
      background: url('../img/medusa-indicador.png') no-repeat;
      background-position: left;
      display: block;
      padding-left: 4ex;
    }

    #dynamic_menu ul li.selected ul li.descendant a {
      background: none;
    }

.contact_field {
  display: block;
}

div.cmsplugin.cmsplugin-embeded-pages.embedded-page-for- {
  margin-top: 3ex;
  clear: both;
}

  div.embedded-page.row {
    clear: both;
    margin-bottom: 5ex;
  }

  div.header.embedded-page-header {
    display: none;
  }
  
  div.content.embedded-page-content .plugin_picture {
    float:left;
    margin-right: 2ex;
  }

  div.embedded-page-placeholder div {
    padding-left: 20ex;
  }

  div.embedded-page-placeholder p {
    padding-left: 20ex;
  }
