#page_wrapper {
     margin: 5px auto 0 auto;
}
	
#page_content {
	background-color: transparent;
	text-align: justify;
}
		
#home {
    border: none;
    margin: 8px 0px;
}

#left { 
	 float: left;
   width: 248px; 
   padding: 12px;
   padding-top: .5ex;
}

#right { 
     float: right; 
     width: 718px; 
}

#page_header {
	width: 100%; 
}

#dynamic_menu ul li.selected ul li.descendant {
  border-bottom: none;
}
