#left_column {
  float: left;
  width: 50%;
}

#right_column {
  float: right;
  width: 50%;
}

.plugin_file a {
  text-align: center;
  background: none;
  margin: 0;
  padding: 0;
}

  .filesize {
    display: none;
  }
