{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% block base_content %}
    {% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
    {% endaddtoblock %}

    <div id="left">
      <div id="header_image">
        {% placeholder "header_image" %}
      </div>
      <div id="project_description">
        {% placeholder "project_description" %}
      </div>
      <div id="content">
        <div id="news_tools">
          <div id="news">
            <div class="new">
              {% placeholder "new-image-1" %}
              <div class="new_text">
                {% placeholder "new-text-1" %}
              </div>
            </div>
            <div class="new">
              {% placeholder "new-image-2" %}
              <div class="new_text">
                {% placeholder "new-text-2" %}
              </div>
            </div>
            <div class="new">
              {% placeholder "new-image-3" %}
              <div class="new_text">
                {% placeholder "new-text-3" %}
              </div>
            </div>
            <div id="more_news">
               <p>
                {% placeholder "more_news" %}
               </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="right">
      <div id="dynamic_menu">
        <ul id="nav">
          {% show_menu 0 100 100 100 %}
        </ul>
      </div>
     {% include "logout.html" %}
     {% include "register.html" %}
      <div id="tools">
        <div id="sighting">
          {% placeholder "sighting" %}
        </div>
        <div id="sting_protocol">
          {% placeholder "sting_protocol" %}
        </div>
        <div id="social_networks">
          {% ifequal LANGUAGE_CODE  'en' %}
          <span>Follow us on:</span>
          {% endifequal %}
          {% ifequal LANGUAGE_CODE  'es' %}
          <span>Síguenos en:</span>
          {% endifequal %}
          {% ifequal LANGUAGE_CODE  'ca' %}
          <span>Segueix-nos a:</span>
          {% endifequal %}
          {% ifequal LANGUAGE_CODE  'mt' %}
          <span>Segwi us fuq:</span>
          {% endifequal %}
          {% ifequal LANGUAGE_CODE  'fr' %}
          <span>Suivez-nous sur:</span>
          {% endifequal %}
          {% ifequal LANGUAGE_CODE  'ar' %}
          <span>تابعونا على</span>
          {% endifequal %}

          <a href="https://www.facebook.com/Jellyrisk?ref=tn_tnmn" target="new"><img src="{{ STATIC_URL }}img/facebook.png"/></a>
          <a href="https://twitter.com/jellyrisk" target="new"><img src="{{ STATIC_URL }}img/twitter.png"/></a>
        </div>
        <div id="search">
          <form method="get" action="/search">
            <input type="text" name="q" value""/>
          {% ifequal LANGUAGE_CODE  'en' %}
            <input type="submit" value="Search"/>
          {% endifequal %}
          {% ifequal LANGUAGE_CODE  'es' %}
            <input type="submit" value="Buscar"/>
          {% endifequal %}
          {% ifequal LANGUAGE_CODE  'ca' %}
            <input type="submit" value="Cercar"/>
          {% endifequal %}
          {% ifequal LANGUAGE_CODE  'mt' %}
            <input type="submit" value="Fittex"/>
          {% endifequal %}
          {% ifequal LANGUAGE_CODE  'fr' %}
            <input type="submit" value="Recherche"/>
          {% endifequal %}
          {% ifequal LANGUAGE_CODE  'ar' %}
            <input type="submit" value="بحث"/>
          {% endifequal %}
          </form>
        </div>
        <div id="special_news">
          <div id="special_news_text">
            {% placeholder "special_news_text" %}
          </div>
          <div id="special_news_image">
            {% placeholder "special_news_image" %}
          </div>
        </div>
        <div id="picture_gallery">
          {% placeholder "picture_gallery" %}
        </div>
        <div id="contact">
          {% placeholder "contact_link" %}
        </div>

      </div>
    </div>

    <div id="sights_link">
        {% placeholder "sights_link" %}
      </div>
{% endblock %}
