{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags i18n %}

{% block base_content %}
    {% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
    {% endaddtoblock %}

    <div id="top">
      <div id="header_image">
        {% placeholder "header_image" %}
      </div>
      <div id="dynamic_menu">
        <ul id="nav">
          {% show_menu 0 100 100 100 %}
        </ul>
      </div>
    </div>
    <div id="content">
      <div id="project_description">
        {% placeholder "project_description" %}
      </div>
      <div id="news_tools">
        <div id="news">
          {% placeholder "new-1" %}
          <a href="">{% trans "Read more.." %}</a>
          {% placeholder "new-2" %}
          <a href="">{% trans "Read more.." %}</a>
        </div>
        <div id="tools">
          <div id="search">
          </div>
          <div id="special_news">
            <div id="special_news_text">
              {% placeholder "special_news_text" %}
            </div>
            <div id="special_news_image">
              {% placeholder "special_news_image" %}
            </div>
          </div>
          <div id="picture_gallery">
            {% placeholder "picture_gallery" %}
          </div>
          <div id="contact">
          </div>
        </div>
      </div>
    </div>
    <div id="sights_link">
      {% placeholder "sights_link" %}
    </div>
{% endblock %}
