{% extends "base.html" %}
{% load cms_tags menu_tags %}

{% block base_content %}
    <div id="page_header">
      {% language_chooser %}
      {% placeholder "header_image" %}
    </div>
    <div id="breacrumbs">
      {% show_breadcrumb %}
    </div>
    <div id="page_wrapper">
      {% block page_content %}
      <div id="page_content">
        {% placeholder base_content %}
      </div>
      {% endblock %}
      <div id="dynamic_menu">
        {% show_menu %}
      </div>
    </div>
{% endblock %}
