
{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block base_content %}
    {% addtoblock "css" %}
      <link rel="stylesheet" href="{{ STATIC_URL }}css/page.css">
      <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
    {% endaddtoblock %}
    
   <div id="right"> 
   	 <div id="page_header" align="center">
      {% placeholder "header_image" %}
    </div>
   
    <div id="page_wrapper">
      {% block page_content %}
      <div id="page_content">
        {% placeholder base_content %}
      </div>
      {% endblock %}
    </div>  
   </div> 
      <div id="left">
       <div id="dynamic_menu">
        <ul id="nav">  
         {% show_menu 0 100 100 100%}
        </ul>
       </div> 
      </div> 
    
{% endblock %}
